/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

/lib/rison/parser.output
/lib/rison/object_parser.output
/lib/rison/array_parser.output
